<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary | Review</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1>Trip Review Edit</h1>
    <h2><%=trip.name%></h2>
    <h2><%=trip.country%></h2>
    <h2><%=trip.date%></h2>
    <h2>$<%=trip.totalCost%></h2>
    <form action="/reviews/<%=trip._id%>?_method=PUT" method="POST">
        Ratings: <br>
            Food (0-5) <input type="range" name="rating.food" id="rating[food]" min="0" max="5" value="<%=foundReview.rating.food%>"><br>
            Sights (0-5) <input type="range" name="rating.sights" id="rating[sights]" min="0" max="5" value="<%=foundReview.rating.sights%>"><br>
            Worth (0-5) <input type="range" name="rating.worth" id="rating[worth]" min="0" max="5" value="<%=foundReview.rating.worth%>"><br>
            Overall (0-5) <input type="range" name="rating.overall" id="rating[overall]" min="0" max="5" value="<%=foundReview.rating.overall%>"><br>
            Comments: <textarea name="comment" id="comment" style="min-width: 500px; min-height: 50px;" placeholder="<%=foundReview.comment%>"></textarea><br>
            Would you like this review to be anonymous? <input type="checkbox" name="anonymous" id="anonymous" <% if (foundReview.anonymous) { %> checked <% } %> ><br>
        <input type="submit" value="Edit Review">
    </form>
</body>
</html>