<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <h1><%= currentUser.username %>'s Trips</h1>
    <a href="/trips/new">Add New Trip</a>
    <div class="container center-align hoverable">
        <% for (let trip of tripsArr) { %>
            <div class="container card-panel left-align">
                <a href="/trips/<%=trip._id%>"><%= trip.name %></a> 
                <%= trip.country %> 
                <% if (trip.review) { %>
                Food: <%= trip.review.rating.food %> 
                Sights: <%= trip.review.rating.sights %> 
                Worth: <%= trip.review.rating.worth %> 
                Overall: <%= trip.review.rating.overall %> 
                <% } %>
                <br>
                <a href="/trips/<%=trip._id%>/edit">Edit</a> <br>
                <form action="/trips/<%=trip._id%>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>