<style>
    body {
        background-image: url("https://images.pexels.com/photos/2253821/pexels-photo-2253821.jpeg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <div class="container center-align content">
        <h3><%= currentUser.username %>'s Trips</h3>
        <div class="left-align addTrip">
            <a class="btn-floating btn-medium waves-effect waves-light blue lighten-2" href="/trips/new"><i class="material-icons">add</i></a> <br>
            Add Trip
        </div>
        <% for (let trip of tripsArr) { %>
            <a href="/trips/<%=trip._id%>">
                <div class="card-panel left-align hoverable tripShow">
                    <div class="row valign-wrapper">
                        <div class="col s8">
                            <b><%= trip.name %></b> <br>
                            <%= trip.country %> &nbsp;  $<%= trip.totalCost %> &nbsp; 
                            <%= trip.date %> <br> 
                            <% if (trip.review) { %>
                                Overall: 
                                <% for (let i = 0; i < Math.floor(trip.review.rating.overall) ; i++ ) { %>
                                    <i class="tiny material-icons">star</i>
                                <% } %>
                                <% if ((Math.ceil(trip.review.rating.overall) - Math.floor(trip.review.rating.overall)) === 1) { %>
                                    <i class="tiny material-icons">star_half</i>
                                <% } %>
                                <% for (let i = 0; i < (5-Math.ceil(trip.review.rating.overall)); i++ ) { %>
                                    <i class="tiny material-icons">star_border</i>
                                <% } %>
                                <br>                                
                                <%= trip.review.rating.comment %>  
                            <% } %>
                        </div>
                        <div  class="col s4 right-align deleteBtn">
                            <form action="/trips/<%=trip._id%>?_method=DELETE" method="POST">
                                <button class="btn-small waves-effect waves-light red lighten-2 hoverable" type="submit" name="action" >DELETE</button>                    
                            </form>
                        </div>
                    </div>
                </div>
            </a> 
        <% } %>
    </div>
</body>
</html>