<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <%- include("../partials/nav.ejs")%>
    <main>
        <div class="container center-align content">
            <h4>Take a trip!</h4>
            <div class="container center-align">
                <% for (let country of countries) { %>
                    <div class="card-panel hoverable">
                        <a href="/countries/<%=country._id%>">
                            <%=country.name%>
                        </a>
                        <% if (country.reviews.length> 0) { %>
                            Food: <i class="materials-icon">star</i>
                            <% for (let i = 0; i < ratLow(countryAvgRating(country)).length ; i++ ) { %>
                                <i class="star"></i>
                            <% } %>
                                Food: <%= countryAvgRating(country)[0] %>
                                Sights: <%= countryAvgRating(country)[1] %>
                                Worth: <%= countryAvgRating(country)[2] %>
                                Overall: <%= countryAvgRating(country)[3] %>
                        <% } else { %>
                                No ratings yet!
                        <% } %>
                    </div>
                    <% } %>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs")%>
</body>

</html>