<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1>Take a trip!</h1>
    <ul>        
        <% for (let country of countries) { %>
            <li>
                <a href="/countries/<%=country._id%>"><%=country.name%></a>
                <% if (country.reviews.length > 0) { %>
                    Food: <%= countryAvgRating(country)[0] %>
                    Sights: <%= countryAvgRating(country)[1] %>
                    Worth: <%= countryAvgRating(country)[2] %>
                    Overall: <%= countryAvgRating(country)[3] %>
                <% } else { %>
                    No ratings yet! 
                <% } %>
            </li>
        <% } %>
    </ul>
</body>
</html>