<style>
    body {
        background-image: url("https://images.pexels.com/photos/2792025/pexels-photo-2792025.jpeg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <%- include("../partials/nav.ejs")%>
    <main>
        <div class="container center-align content">
            <h4>Take a trip!</h4>
            <div class="container center-align">
                <% for (let country of countries) { %>
                    <a class="countryIndex" href="/countries/<%=country._id%>">
                    <div class="card-panel hoverable">
                            <p class="countryName"><%=country.name%></p>
                        
                        <% if (country.reviews.length> 0) { %>
                            <div class="container">
                                Overall: 
                                <% for (let i = 0; i < ratLow(countryAvgRating(country))[3] ; i++ ) { %>
                                    <i class="tiny material-icons">star</i>
                                <% } %>
                                <% if ((ratHigh(countryAvgRating(country))[3] - ratLow(countryAvgRating(country))[3]) === 1) { %>
                                    <i class="tiny material-icons">star_half</i>
                                <% } %>
                                <% for (let i = 0; i < (5-ratHigh(countryAvgRating(country))[3]); i++ ) { %>
                                    <i class="tiny material-icons">star_border</i>
                                <% } %>
                            </div>

                            Food:
                            <% for (let i = 0; i < ratLow(countryAvgRating(country))[0] ; i++ ) { %>
                                <i class="tiny material-icons">star</i>
                            <% } %>
                            <% if ((ratHigh(countryAvgRating(country))[0] - ratLow(countryAvgRating(country))[0]) === 1) { %>
                                <i class="tiny material-icons">star_half</i>
                            <% } %>
                            <% for (let i = 0; i < (5-ratHigh(countryAvgRating(country))[0]); i++ ) { %>
                                <i class="tiny material-icons">star_border</i>
                            <% } %>

                            Sights: 
                            <% for (let i = 0; i < ratLow(countryAvgRating(country))[1] ; i++ ) { %>
                                <i class="tiny material-icons">star</i>
                            <% } %>
                            <% if ((ratHigh(countryAvgRating(country))[1] - ratLow(countryAvgRating(country))[1]) === 1) { %>
                                <i class="tiny material-icons">star_half</i>
                            <% } %>
                            <% for (let i = 0; i < (5-ratHigh(countryAvgRating(country))[1]); i++ ) { %>
                                <i class="tiny material-icons">star_border</i>
                            <% } %>

                            Worth: 
                            <% for (let i = 0; i < ratLow(countryAvgRating(country))[2] ; i++ ) { %>
                                <i class="tiny material-icons">star</i>
                            <% } %>
                            <% if ((ratHigh(countryAvgRating(country))[2] - ratLow(countryAvgRating(country))[2]) === 1) { %>
                                <i class="tiny material-icons">star_half</i>
                            <% } %>
                            <% for (let i = 0; i < (5-ratHigh(countryAvgRating(country))[2]); i++ ) { %>
                                <i class="tiny material-icons">star_border</i>
                            <% } %>

                        <% } else { %>
                                <br> No ratings yet!
                        <% } %>
                    </div>
                </a>
                    <% } %>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs")%>
</body>

</html>