<style>
    body {
        background-image: url("https://images.pexels.com/photos/2792025/pexels-photo-2792025.jpeg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")%>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="container left-align content">
        <a style="margin-left: 20px;" href="/home">Back</a>
        <div class="row tripStyle">
            <h3><%=country.name%></h3>
            <h5>Number of Visits: <%=numVisits%></h5> <br>
        </div>
        <div class="row tripStyle">
            <% if (country.reviews.length > 0) { %>
                <div class="row tripStyle">
                Overall: 
                <% for (let i = 0; i < ratLow[3] ; i++ ) { %>
                    <i class="material-icons">star</i>
                <% } %>
                <% if ((ratHigh[3] - ratLow[3]) === 1) { %>
                    <i class="material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-ratHigh[3]); i++ ) { %>
                    <i class="material-icons">star_border</i>
                <% } %>
                <br>

                Food: 
                <% for (let i = 0; i < ratLow[0] ; i++ ) { %>
                    <i class="material-icons">star</i>
                <% } %>
                <% if ((ratHigh[0] - ratLow[0]) === 1) { %>
                    <i class="material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-ratHigh[0]); i++ ) { %>
                    <i class="material-icons">star_border</i>
                <% } %>
                <br>

                Sights: 
                <% for (let i = 0; i < ratLow[1] ; i++ ) { %>
                    <i class="material-icons">star</i>
                <% } %>
                <% if ((ratHigh[1] - ratLow[1]) === 1) { %>
                    <i class="material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-ratHigh[1]); i++ ) { %>
                    <i class="material-icons">star_border</i>
                <% } %>
                <br>

                Worth: 
                <% for (let i = 0; i < ratLow[2] ; i++ ) { %>
                    <i class="material-icons">star</i>
                <% } %>
                <% if ((ratHigh[2] - ratLow[2]) === 1) { %>
                    <i class="material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-ratHigh[2]); i++ ) { %>
                    <i class="material-icons">star_border</i>
                <% } %>
                <br>
                </div>
            <% } %>
        </div>
        <% for (let review of reviews) { %>
            <div class="card-panel">
                <% if (review.anonymous) { %>
                    <h6>Anonymous</h6> 
                <% } else { %>
                    <h6><%= review.username %></h6>
                <% } %>
                &nbsp;

                Overall: 
                <% for (let i = 0; i < Math.floor(review.rating.overall) ; i++ ) { %>
                    <i class="tiny material-icons">star</i>
                <% } %>
                <% if ((Math.ceil(review.rating.overall) - Math.floor(review.rating.overall)) === 1) { %>
                    <i class="tiny material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-Math.ceil(review.rating.overall)); i++ ) { %>
                    <i class="tiny material-icons">star_border</i>
                <% } %>
                &nbsp;

                Food: 
                <% for (let i = 0; i < Math.floor(review.rating.food) ; i++ ) { %>
                    <i class="tiny material-icons">star</i>
                <% } %>
                <% if ((Math.ceil(review.rating.food) - Math.floor(review.rating.food)) === 1) { %>
                    <i class="tiny material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-Math.ceil(review.rating.food)); i++ ) { %>
                    <i class="tiny material-icons">star_border</i>
                <% } %>
                &nbsp;

                Sights: 
                <% for (let i = 0; i < Math.floor(review.rating.sights) ; i++ ) { %>
                    <i class="tiny material-icons">star</i>
                <% } %>
                <% if ((Math.ceil(review.rating.sights) - Math.floor(review.rating.sights)) === 1) { %>
                    <i class="tiny material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-Math.ceil(review.rating.sights)); i++ ) { %>
                    <i class="tiny material-icons">star_border</i>
                <% } %>
                &nbsp;

                Worth: 
                <% for (let i = 0; i < Math.floor(review.rating.worth) ; i++ ) { %>
                    <i class="tiny material-icons">star</i>
                <% } %>
                <% if ((Math.ceil(review.rating.worth) - Math.floor(review.rating.worth)) === 1) { %>
                    <i class="tiny material-icons">star_half</i>
                <% } %>
                <% for (let i = 0; i < (5-Math.ceil(review.rating.worth)); i++ ) { %>
                    <i class="tiny material-icons">star_border</i>
                <% } %>
                <br>
                <%= review.comment %>
            </div>
        <% } %>
    </div>
</body>
</html>