<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")%>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="container left-align content">
        <h3><%=country.name%></h3>
        <div class="container">
            Number of Visits: <%=numVisits%> <br>
            <% if (country.reviews.length > 0) { %>
                Food: <%= countryAvgRating(country)[0] %> <br>
                Sights: <%= countryAvgRating(country)[1] %> <br>
                Worth: <%= countryAvgRating(country)[2] %> <br>
                Overall: <%= countryAvgRating(country)[3] %> <br>
            <% } %>
        </div>
        <% for (let review of reviews) { %>
            <div class="card-panel">
                <% if (review.anonymous) { %>
                    Anonymous
                <% } else { %>
                    <%= review.username %>
                <% } %>
                <%= review.comment %>
            </div>
        <% } %>
    </div>
</body>
</html>