<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")%>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1>Edit Trip</h1>
    <h2><%= trip.name %></h2>
    <form action="/trips/<%=trip._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=trip.name%>"><br>
        Country: <input type="text" name="country" list="country" value="<%=trip.country%>"><br>
        <datalist id="country">
            <%for (let country of countryNames) { %>
                <option>
                    <%=country.name%>
                </option>
            <% } %>
        </datalist>
        Date: <input type="date" name="date"><br>
        Length of Trip (in Days): <input type="number" name="lengthOfTrip" min="0" value="<%=trip.lengthOfTrip%>"><br>
        Number of People: <input type="number" name="numberOfPeople" min="1" value="<%=trip.numberOfPeople%>"><br>
        Total Cost: <input type="number" name="totalCost" min="0" value="<%=trip.totalCost%>"><br>
        Notable Places: <input type="text" name="placesVisited" value="<%=trip.placesVisited%>"><br>
        <button>Submit Edit</button>
    </form>
</body>
</html>