<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <a href="/trips/<%=trip._id%>/edit"><button>Edit Trip</button></a>
    <h1><%= trip.name %></h1>
    <h2><%= trip.date%></h2>
    <a href="/countries/<%=foundCountry._id%>"><h2><%= trip.country%></h2></a>
    Number of people: <h2><%= trip.numberOfPeople%></h2>
    Total Cost: <h2>$<%= trip.totalCost%></h2>
    Length of Trip (in Days): <h2><%= trip.lengthOfTrip%></h2>
    <!-- INSERT REVIEW OF THE TRIP IF REVIEW IS MADE -->
    <% if (trip.review) { %>
        <h2><%= foundReview %></h2>
        <a href="/reviews/<%=trip._id%>/edit"><button>Edit Review</button></a>
    <% } else { %>
        <a href="/reviews/<%=trip._id%>/new"><button>Add a Review</button></a>
    <% } %>
</body>
</html>