<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1><%= trip.name %></h1>
    <h2><%= trip.date%></h2>
    <h2><%= trip.country%></h2>
    <h2><%= trip.numberOfPeople%></h2>
    <h2><%= trip.totalCost%></h2>
    <h2><%= trip.lengthOfTrip%></h2>
    <h2><%= trip.isComplete%></h2>
    <h2><%= trip.reviews%></h2>

</body>
</html>